body {
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* Color blanco */
    font-size: 22px;
  }


.navbar-custom {
    background-color: #73C6B6; /* Cambia el color de fondo del navbar a azul */
}
.dropdown-menu {
    max-height: 200px; /* Altura máxima de la lista desplegable */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    font-size: 22px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* Color blanco */
    font-size: 22px;
  }


.navbar-custom {
    background-color: #73C6B6; /* Cambia el color de fondo del navbar a azul */
}
.dropdown-menu {
    max-height: 200px; /* Altura máxima de la lista desplegable */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    font-size: 22px;
}
.dody{
    background-image: 'https://www.gratistodo.com/wp-content/uploads/2017/02/degradados-wallpapers-2.jpg´';
}